:root {
  --fc-button-bg-color: #ff630b;
  --fc-button-active-bg-color: #ff630b;
  --fc-button-active-border-color: #ff630b;
  --fc-button-border-color: #ff630b;
  --fc-button-hover-bg-color: #e6590a;
  --fc-button-hover-border-color: #e6590a;
  --fc-highlight-color: #fff4ec;
}
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  padding: 2.5rem;
}
.fc .fc-daygrid-day.fc-day-today,
.fc-theme-standard td,
.fc-theme-standard th {
  background-color: #ffffff;
}
.fc-scroller::-webkit-scrollbar,
.fc-event.fc-timegrid-event::-webkit-scrollbar {
  width: 8px;
}
.fc-scroller::-webkit-scrollbar-track,
.fc-event.fc-timegrid-event::-webkit-scrollbar-track {
  background: transparent;
}
.fc-scroller::-webkit-scrollbar-thumb,
.fc-event.fc-timegrid-event::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-sm rounded-full;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
.fc-scroller::-webkit-scrollbar-thumb:hover,
.fc-event.fc-timegrid-event::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
.fc-timegrid-body,
.fc-timegrid-body table,
.fc-scrollgrid thead table.fc-col-header,
.fc-daygrid-body,
.fc-daygrid-body .fc-scrollgrid-sync-table {
  width: 100% !important;
}
.fc .fc-toolbar.fc-header-toolbar {
  @apply mb-0;
}
.fc-header-toolbar.fc-toolbar {
  @apply py-20 px-40;
}
.fc .fc-toolbar-title {
  @apply text-2xl font-semibold inline-block top-4 relative;
  margin-left: 0 !important;
}
.fc-header-toolbar .fc-toolbar-chunk .fc-button.fc-prev-button,
.fc-header-toolbar .fc-toolbar-chunk .fc-button.fc-next-button {
  @apply bg-gray-100 border-0 rounded-full h-36 w-36 text-gray-800 text-xs hover:bg-orange-background hover:text-primary transition-all duration-300 focus:shadow-none;
}
.fc .fc-newAppointmentBtn-button {
  @apply transition-all duration-300 focus:shadow-none rounded-2xl px-20 py-12 active:shadow-none;
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  @apply h-full;
}
.fc-header-subtitle {
  @apply block text-gray-400 mb-12;
}
.fc-header-todayLabel {
  @apply block text-gray-400 mt-12;
  margin-left: 0 !important;
}
.fc .fc-button.fc-today-button,
.fc .fc-button.fc-timeGridDay-button:not(.fc-button-active),
.fc .fc-button.fc-dayGridMonth-button:not(.fc-button-active) {
  @apply hover:bg-orange-background hover:text-primary;
}
.fc .fc-button.fc-today-button,
.fc .fc-button.fc-timeGridDay-button,
.fc .fc-button.fc-dayGridMonth-button {
  @apply bg-gray-100 text-gray-800 border-0 rounded-xl capitalize disabled:bg-gray-300 disabled:text-gray-500 transition-all duration-300;
}
.fc .fc-button.fc-timeGridDay-button:not(.fc-button-active),
.fc .fc-button.fc-dayGridMonth-button:not(.fc-button-active) {
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  @apply shadow-none;
}
.fc-event.fc-timegrid-event {
  @apply rounded-xl overflow-x-hidden overflow-y-auto;
}
.fc-event.fc-event-mirror {
  @apply bg-orange-light border-orange-light;
}
.fc-v-event:not(.fc-event-selected) .fc-event-resizer-end {
  @apply bottom-0;
}
